/* Auth styles (used for both Login and Registration pages */

.auth-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
  }
  
  .auth-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    color: darkslategray;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .form-label {
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
  }
  
  .form-input {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 16px;
    color: darkslategray
  }
  
  .auth-button {
    background-color: lightskyblue;
    color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .auth-button:hover {
    background-color: salmon;
  }
  
  .error-message {
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }