/*Books styling*/

.books-container {
  padding: 20px;
}

.books-search {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px 0;
}

.book-card {
  border: 1px solid lightgray;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height:380px;
}

.book-card:hover {
  transform: translateY(-10px);
}

.book-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.book-card-content {
  padding: 15px;
  display:flex;
  flex-direction: column;
  height:100%;
  justify-content: space-between;
}

.book-card-title {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 10px 0;
  color: darkslategray;
}

.book-card-author {
  color: darkslategray;
  margin: 0 0 10px 0;
}

.book-card-status {
  color: lightskyblue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.book-card-status.unavailable {
  color: salmon;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.book-card-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #8A9A5B;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}
.book-card-link:hover{
  transform: scale(1.07);
  background-color: lightskyblue;
  color:darkslategray;
}