.nav-container {
  background-color: darkslategrey;
  padding: 10px 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  display:flex;
  width:100%;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  z-index:100;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: skyblue;
}

.nav-button {
  background-color: skyblue;
  color: darkslategray;
  font-weight: 700;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 8px 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: salmon;
}